/**
 * @name Discord-FIX
 * @author nionim
 * @description Removes a few new buttons (Fuck Discord!)
 * @invite MEBkvJbe4P
 * @website https://www.citory.net
 * @version 1.6.1
*/

:root {

	/* Hide "Applications" button and.. and etc. I don`t remember... But it`s button! */
	.getPremiumButton__3de87,
	.button_df39bd,
	.footer_aa1bff,
	.footer_f8ec41,
	.wrapper_f563df,
	.footer_d71945,
	.vc-notification-root,
	.separator_f84418,
	.footer__214dc {
		display: none
	}
	/* Hide blocked messages */
	/* div[class*='blockedSystemMessage']{display:none;} */
	/* div[class^='groupStart_'] { display: none; } */
	/* Hide shop and "Nitro"*/
	a[data-list-item-id*="shop"], a[data-list-item-id*="nitro"] {
		display: none;
	}
	/* Hide fast emoji button */
	[aria-label^="Нажмите, чтобы отреагировать эмодзи"], [aria-label^="Натисніть, щоб відреагувати"],
	[aria-label^="Приложения"], [aria-label^="Програми"],
	[aria-label^="Нажмите, чтобы удалить эмодзи"], [aria-label^="Натисніть, щоб видалити"],
	[aria-label^="Магазин"] {
		display: none;
	}
	/* Hide bookmarks */
	[aria-label^="Закладки"], [aria-label^="Добавить в закладки"], #message-actions-pin, #message-actions-save-for-later-upsell {
		display: none;
	}
}
